<div class="panel panel-info" style="width: 350px; margin: 0 auto;" ng-init="getClients()">
	<div class="panel-heading">
		<h3 class="panel-title">Add new client</h3>
	</div>
	<div class="panel-body">
		<form ng-controller="ADSController" class="form-signin">
			<label for="inputIP" class="sr-only">IP: </label>
			<input type="text" class="form-control" ng-model="client.ip" placeholder="IP" required autofocus>
			<label for="inputPort" class="sr-only">Port: </label>
			<input type="text" class="form-control" ng-model="client.port" placeholder="Port" required>
			<input type="text" class="form-control" ng-model="client.secret" placeholder="Secret" required>
			<textarea class="form-control" ng-model="client.command_list" placeholder="Command List" rows="3"></textarea>
			<button class="btn btn-lg btn-primary btn-block" type="button" ng-click="addClient()">Add</button>
		</form>
	</div>
</div>
<hr />
<div class="panel panel-success" ng-init="getClients()">
	<div class="panel-heading">
		<h3 class="panel-title">Client List</h3>
	</div>
	<div class="table-responsive">
		<form ng-controller="ADSController">
			<table class="table table-striped" style="text-align: center;">
				<thead>
					<tr>
						<th style="text-align: center;">Client</th>
						<th style="text-align: center;">Secret</th>
						<th style="text-align: center;">Command</th>
						<th style="text-align: center;">Functions</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="client in clients">
						<td class="form-inline" style="vertical-align: middle;">
							<input type="text" class="form-control" style="width: 100px;" ng-model="client.ip" value="{{client.ip}}" required/>
							<input type="text" class="form-control" style="width: 70px;" ng-model="client.port" value="{{client.port}}" required/>
						</td>
						<td class="form-inline" style="vertical-align: middle;">
							<input type="text" class="form-control" style="width:100%" ng-model="client.secret" value="{{client.secret}}" required/>
						</td>
						<td class="form-inline" style="vertical-align: middle;">
							<textarea class="form-control" style="width:100%" ng-model="client.command_list" rows="3">{{client.command_list}}</textarea>
						</td>
						<td class="form-inline" style="vertical-align: middle;">
							<input type="hidden" ng-model="client._id" value="{{client._id}}" />
							<input type="button" ng-click="modifyClient($index)" class="btn btn-xs btn-primary" value="Modify"></input>
							<input type="button" ng-click="deleteClient($index)" class="btn btn-xs btn-primary" value="Delete"></input>
						</td>
					</tr>
				</tbody>
			</table>
		</form>
	</div>
</div>
